<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
        <!-- Pignose Calender -->
        <link href="plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
        <!-- Chartist -->
        <link rel="stylesheet" href="plugins/chartist/css/chartist.min.css">
        <link rel="stylesheet" href="plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
        <!-- Custom Stylesheet -->
        <link href="/plugins/css/style.css" rel="stylesheet">

    </head>
</head>
<body>
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>

<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <!-- 左上角公共部分  -->
    <div th:insert="common/HtCommon::Left-Top(user=${user})"></div>
    <!-- 右上角公共部分 -->
    <div th:insert="common/HtCommon::Top(user=${user})"></div>
    <!-- 左部公共部分  -->
    <div th:insert="common/HtCommon::Left(user=${user})"></div>

    <!--  内部内容在这里编写   -->
    <div class="content-body">

        <!--        <div class="row page-titles mx-0">-->
        <!--            <div class="col p-md-0">-->
        <!--                <ol class="breadcrumb">-->
        <!--                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>-->
        <!--                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>-->
        <!--                </ol>-->
        <!--            </div>-->
        <!--        </div>-->
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Data Table</h4>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                    <tr>
                                        <th>订单编号</th>
                                        <th>成交价格</th>
                                        <th>购买软件</th>
                                        <th>订单描述</th>
                                        <th>用户ID</th>
                                        <th>软件ID</th>
                                        <th>订单状态</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    <tr th:each="list:${ordersList}">
                                        <td th:text="${list.getOutTradeNo()}"></td>
                                        <td th:text="${list.getTotalAmount()}"></td>
                                        <td th:text="${list.getSubject()}"></td>
                                        <td th:text="${list.getBody()}"></td>
                                        <td th:text="${list.getUserid()}"></td>
                                        <td th:text="${list.getSoftid()}"></td>
                                        <td th:text="${list.getOrderstate()}"></td>
                                    </tr>
                                    </tbody>

                                </table>
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
                                     aria-live="polite">Showing <p style="display: inline"
                                                                   th:text="(${orState}-1)*10+1"></p> to <p
                                        style="display: inline" th:text="${orState}*10"></p>
                                </div>
                                <div style="float: right" class="dataTables_paginate paging_simple_numbers"
                                     id="DataTables_Table_0_paginate">
                                    <ul class="pagination">

                                        <li class="paginate_button page-item previous"
                                            &lt;!&ndash; id="DataTables_Table_0_previous">
                                            <a th:if="${orState}==1" href=""
                                               aria-controls="DataTables_Table_0"
                                               data-dt-idx="0" tabindex="0"
                                               class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item previous"
                                            &lt;!&ndash; id="DataTables_Table_0_previous2">
                                            <a th:if="!(${orState}==1)" th:href="@{/A-to-orderList?page=} + ${PreState}"
                                               aria-controls="DataTables_Table_0"
                                               data-dt-idx="0" tabindex="0"
                                               class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item previous"
                                            th:each="index:${orNum}">
                                            <a th:href="@{/A-to-orderList?page=} + ${index}"
                                               aria-controls="DataTables_Table_0"
                                               data-dt-idx="1" tabindex="0"
                                               class="page-link" th:text="${index}"></a></li>
                                        </li>


                                        <li th:if="${orState}==${orNum.size()}" class="paginate_button page-item next" id="DataTables_Table_0_next"><a
                                                href="" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0"
                                                class="page-link">Next</a></li>
                                        <li th:if="!(${orState}==${orNum.size()})" class="paginate_button page-item next" id="DataTables_Table_0_next2"><a
                                                th:href="@{/A-to-orderList?page=} + ${NextState}" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0"
                                                class="page-link">Next</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>





<script src="plugins/common/common.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/settings.js"></script>
<script src="js/gleek.js"></script>
<script src="js/styleSwitcher.js"></script>

<!-- Chartjs -->
<script src="./plugins/chart.js/Chart.bundle.min.js"></script>
<!-- Circle progress -->
<script src="./plugins/circle-progress/circle-progress.min.js"></script>
<!-- Datamap -->
<script src="./plugins/d3v3/index.js"></script>
<script src="./plugins/topojson/topojson.min.js"></script>
<script src="./plugins/datamaps/datamaps.world.min.js"></script>
<!-- Morrisjs -->
<script src="./plugins/raphael/raphael.min.js"></script>
<script src="./plugins/morris/morris.min.js"></script>
<!-- Pignose Calender -->
<script src="./plugins/moment/moment.min.js"></script>
<script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
<!-- ChartistJS -->
<script src="./plugins/chartist/js/chartist.min.js"></script>
<script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
<script src="./js/dashboard/dashboard-1.js"></script>
</body>