<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单流水</title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
        <!-- Pignose Calender -->
        <link href="plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
        <!-- Chartist -->
        <link rel="stylesheet" href="plugins/chartist/css/chartist.min.css">
        <link rel="stylesheet" href="plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
        <!-- Custom Stylesheet -->
        <link href="/plugins/css/style.css" rel="stylesheet">
    </head>
</head>
<body>
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>

<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <!-- 左上角公共部分  -->
    <div th:insert="common/HtCommon::Left-Top(user=${user})"></div>
    <!-- 右上角公共部分 -->
    <div th:insert="common/HtCommon::Top(user=${user})"></div>
    <!-- 左部公共部分  -->
    <div th:insert="common/HtCommon::Left(user=${user})"></div>

    <!--  内部内容在这里编写   -->
    <div class="content-body">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-1">
                        <div class="card-body">
                            <h3 class="card-title text-white">订单总量</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white" th:text="${aNum}">4565</h2>
                                <p class="text-white mb-0" th:text="${time}">Jan - March 2019</p>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-2">
                        <div class="card-body">
                            <h3 class="card-title text-white">订单金额</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white" th:text="'¥ '+ ${aMoney}">¥ 8541</h2>
                                <p class="text-white mb-0" th:text="${time}">Jan - March 2019</p>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-3">
                        <div class="card-body">
                            <h3 class="card-title text-white">成交订单</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white" th:text="${num}"></h2>
                                <p class="text-white mb-0" th:text="${time}">Jan - March 2019</p>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-4">
                        <div class="card-body">
                            <h3 class="card-title text-white">成交金额</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white" th:text="'¥' + ${money}"></h2>
                                <p class="text-white mb-0" th:text="${time}">Jan - March 2019</p>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body pb-0 d-flex justify-content-between">
                                    <!--                                    <div>-->
                                    <!--                                        <h4 class="mb-1">Product Sales</h4>-->
                                    <!--                                        <p>Total Earnings of the Month</p>-->
                                    <!--                                        <h3 class="m-0">$ 12,555</h3>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div>-->
                                    <!--                                        <ul>-->
                                    <!--                                            <li class="d-inline-block mr-3"><a class="text-dark" href="#">Day</a></li>-->
                                    <!--                                            <li class="d-inline-block mr-3"><a class="text-dark" href="#">Week</a></li>-->
                                    <!--                                            <li class="d-inline-block"><a class="text-dark" href="#">Month</a></li>-->
                                    <!--                                        </ul>-->
                                    <!--                                    </div>-->
                                </div>
                                <div class="chart-wrapper">
                                    <canvas id="chart_widget_13"
                                            style="margin-left: 200px;width: 800px";height="400px;"
                                    ></canvas>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="w-100 mr-2">
                                            <h6>订单总量</h6>
                                            <div class="progress" style="height: 6px">
                                                <div class="progress-bar bg-danger" style="width: 40%"></div>
                                            </div>
                                        </div>
                                        <div class="ml-2 w-100">
                                            <h6>成交总量</h6>
                                            <div class="progress" style="height: 6px">
                                                <div class="progress-bar bg-primary" style="width: 80%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="plugins/common/common.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/settings.js"></script>
<script src="js/gleek.js"></script>
<script src="js/styleSwitcher.js"></script>

<!-- Chartjs -->
<script src="./plugins/chart.js/Chart.bundle.min.js"></script>
<!-- Circle progress -->
<script src="./plugins/circle-progress/circle-progress.min.js"></script>
<!-- Datamap -->
<script src="./plugins/d3v3/index.js"></script>
<script src="./plugins/topojson/topojson.min.js"></script>
<script src="./plugins/datamaps/datamaps.world.min.js"></script>
<!-- Morrisjs -->
<script src="./plugins/raphael/raphael.min.js"></script>
<script src="./plugins/morris/morris.min.js"></script>
<!-- Pignose Calender -->
<script src="./plugins/moment/moment.min.js"></script>
<script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
<!-- ChartistJS -->
<script src="./plugins/chartist/js/chartist.min.js"></script>
<script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
<script src="./js/dashboard/dashboard-1.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/order_flow.js"></script>
</body>