<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="聚合代搭建网站建站服务/个人建站/企业建站/个人发卡网搭建/企业发卡网搭建/商城搭建/商城源码/网站源码">
    <meta name="description" content="聚合代搭建网站建站服务/个人建站/企业建站/个人发卡网搭建/企业发卡网搭建/商城搭建/商城源码/网站源码">
    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="css/9851f3abb2c9429b86e2eef3bd3376e8.css" rel="stylesheet">


    <link rel="stylesheet" href="https://template.down.swap.wang/ui/angulr_2.0.1/html/css/app.css" type="text/css"/>
    <!-- Bootstrap CSS -->

    <!-- Themify Icons -->
    <!--    <link rel="stylesheet" href="css/themify-icons.css">-->
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <!-- Main css -->
    <link href="../css/server.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/nar-bar.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <title>GT软件平台</title>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

<!-- 顶部显示头部标签 -->
<div th:insert="common/Top::Newtop(user=${session.user})"></div>

<header class="bg-gradient" id="home">
    <div class="container mt-5">
        <h1>聚合代搭建网站建站服务</h1>
        <h4><font color="white">方便快捷，稳定高效</font></h4>
        <p class="tagline">专业代搭建网站，个人发卡网搭建，企业发卡网搭建，商城搭建</p>
        <p class="tagline">另有海量源码等你来选</p>

    </div>

</header>


<div class="section light-bg" id="features">
    <div class="container">
        <div class="section-title">
            <!--<small>核心玩法</small>-->
            <h3>服务介绍</h3>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-layout-tab ti-3x mr-3" style="color: #FF3E96;"></span>
                            <div class="media-body">
                                <h4 class="card-title">服务器出租</h4>
                                <p class="card-text">聚合科技服务商出租已备案好的服务器，让您不在为了没有网站服务器而发愁，为您免去大部分服务器费用</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-settings ti-3x mr-3" style="color: #FF3E96;"></span>
                            <div class="media-body">
                                <h4 class="card-title">域名出租</h4>
                                <p class="card-text">聚合科技服务商出租已备案好的域名网址，仅需联系客服即可拥有个人域名，不在为了域名备案而烦恼 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-dashboard ti-3x mr-3" style="color: #FF3E96;"></span>
                            <div class="media-body">
                                <h4 class="card-title">网站搭建一条龙服务</h4>
                                <p class="card-text">24小时的技术支持，客服在线售后及远程操作，在线帮您搭建并调试好您所需的网站，并且无需提供任何资料</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // end .section -->


<div class="section light-bg">
    <div class="container">
        <div class="section-title">
            <!--<small>产品详情</small>-->
            <h3>站长推荐服务</h3>
        </div>

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#communication">仿淘宝商城类型网站</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#schedule">个人发卡网</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages">企业发卡网</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#livechat">聚合科技精品网站</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="communication">
                <div class="d-flex flex-column flex-lg-row">
                    <!--<h2>介绍:</h2>-->
                    <p class="black">
                    <h3>仿 淘宝，天猫，京东类型的商城网站，其具备实体物品购买功能，并且内置查询快递单号界面 功能强大 是实体物品售卖网站的不二之选</h3></p>
                    <p class="nav-item"><a href="http://zb.jvhezs.com/" class=""><h4>演示站点：手机电脑打开效果不一样，点我查看</h4></a></p>
                </div>
            </div>
            <div class="tab-pane fade" id="schedule">
                <div class="d-flex flex-column flex-lg-row">
                    <!--<h2>代理介绍</h2>-->
                    <p class="black">
                    <h3>个人发卡网，自己拥有后台，再也不用担心黑心卡网圈钱跑路，每日流水，卡密均可一清二楚，界面简单干净，高端大气上档次，后台操作简单</h3></p>
                    <p class="nav-item"><a href="http://fa.jvhezs.com/" class=""><h4>演示站点：手机电脑打开效果不一样，点我查看</h4></a></p>
                </div>
            </div>
            <div class="tab-pane fade" id="messages">
                <div class="d-flex flex-column flex-lg-row">
                    <!--<h2>核心玩法</h2>-->
                    <p class="black">
                    <h3>企业发卡网，拥有多商户入住功能，赚取商户手续费，赚取商户入住费用，网站内置全网对接功能，方便商户之间商品对接等强大的功能</h3></p>
                    <p class="nav-item"><a href="http://www.jvhezs.com/" class=""><h4>演示站点：手机电脑打开效果不一样，点我查看</h4></a></p>
                </div>
            </div>
            <div class="tab-pane fade" id="livechat">
                <div class="d-flex flex-column flex-lg-row">
                    <!--<h2>售后品质</h2>-->
                    <p class="black">
                    <h3>聚合产品导航网页 更多精美演示站点等你来看</h3></p>
                    <p class="nav-item"><a href="http://dh.jvhezs.com/" class=""><h4>演示站点：手机电脑打开效果不一样，点我查看</h4></a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section" id="pricing">
    <div class="container">
        <div class="section-title">
            <!--<small>机器人引流</small>-->
            <h3>产品服务及价格</h3>
        </div>
        <div class="card-deck">
            <div class="card pricing popular">
                <div class="card-head">
                    <small class="text-primary"><h3>单域名租用</h3></small>

                    <span class="price">￥128<sub>/月</sub></span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">有效期：月/年</del></div>
                    <div class="list-group-item">授权：单个域名</div>
                    <div class="list-group-item">售后：24小时的技术支持</div>
                </ul>
                <div class="card-body">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=44034509&site=qq&menu=yes&from=message&isappinstalled=0"
                       target="_blank" class="btn btn-primary btn-lg btn-block" style="border-radius: 10px;">立即咨询</a>
                </div>
            </div>
            <div class="card pricing popular">
                <div class="card-head">
                    <small class="price"><h3>单服务器租用</h3></small>
                    <span class="price">￥188<sub>/月</sub></span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">有效期：月/年</div>
                    <div class="list-group-item">授权：单个服务器</div>
                    <!--<div class="list-group-item">售后：24小时的技术支持</div>-->
                </ul>
                <div class="card-body">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=44034509&site=qq&menu=yes&from=message&isappinstalled=0"
                       target="_blank" class="btn btn-primary btn-lg btn-block" style="border-radius: 10px;">立即咨询</a>
                </div>
            </div>
            <div class="card pricing popular">
                <div class="card-head">
                    <small class="text-primary"><h3>服务器+域名</h3></small>
                    <span class="price">￥388<sub>/月</sub></span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">送网站维护</div>
                    <div class="list-group-item">送网站搭建服务</div>
                    <div class="list-group-item">送网站调试服务</div>
                </ul>
                <div class="card-body">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=44034509&site=qq&menu=yes&from=message&isappinstalled=0"
                       target="_blank" class="btn btn-primary btn-lg btn-block" style="border-radius: 10px;">立即咨询</a>
                </div>
            </div>
            <div class="card pricing popular">
                <div class="card-head">
                    <small class="text-primary"><h3>网站搭建</h3></small>
                    <span class="price"><h3>咨询客服</h3><sub></sub></span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">提供网站搭建</div>
                    <div class="list-group-item">网站搭建调试</div>
                    <div class="list-group-item">网站迁移等</div>

                </ul>
                <div class="card-body">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=44034509&site=qq&menu=yes&from=message&isappinstalled=0"
                       target="_blank" class="btn btn-primary btn-lg btn-block" style="border-radius: 10px;">立即咨询</a>
                </div>
            </div>
            <div class="card pricing popular">
                <div class="card-head">
                    <small class="text-primary"><h3>网站修改</h3></small>
                    <span class="price"><h3>咨询客服</h3><sub></sub></span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">网站修改</div>
                    <div class="list-group-item">网站支付接口对接</div>
                    <div class="list-group-item">网站修复</div>
                </ul>
                <div class="card-body">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=44034509&site=qq&menu=yes&from=message&isappinstalled=0"
                       target="_blank" class="btn btn-primary btn-lg btn-block" style="border-radius: 10px;">立即咨询</a>
                </div>
            </div>
        </div>
        <!-- // end .pricing -->


    </div>

</div>
<!-- // end .section -->

<div class="section bg-gradient" id="appxz">
    <div class="container">
        <div class="section-title">

            <!--<small style="color:white">获取产品</small>-->
            <h2 style="color:white">聚合科技，方便快捷，稳定高效，做您身边的服务商</h2>
        </div>
        <div class="call-to-action">

        </div>
        <!--<p class="text-primary"><small><i>Tips: 机器人兼容系统 Windows xp, win7, win8, win10. </i></small></p>-->
    </div>
</div>

</div>


</div>
<!-- // end .section -->


<div class="section" id="faq">
    <div class="container">
        <div class="section-title">
            <small></small>
            <h3>问题解答</h3>
        </div>

        <div class="row pt-4">
            <div class="col-md-6">
                <h4 class="mb-3">1. 请问聚合科技搭建出来的网站稳定么？</h4>
                <p class="light-font mb-5">这一点是必须的 聚合科技拥有多年的网站搭建经验</p>
                <h4 class="mb-3">2. 搭建出来的网站都可以用来做什么业务？</h4>
                <p class="light-font mb-5">如果是用的聚合科技的服务器跟域名仅可做国家法律允许的业务</p>

            </div>
            <div class="col-md-6">
                <h4 class="mb-3">3. 如果网站出现问题了怎么办？</h4>
                <p class="light-font mb-5">聚合科技有24小时在线人工客服，客服会在第一时间协助您解决问题</p>
                <h4 class="mb-3">4. 聚合科技服务商对用户资料的保密如何？</h4>
                <p class="light-font mb-5">我们聚合科技会严格按照制度保证用户的隐私以及客户网站里的相关资料</p>

            </div>
        </div>
    </div>

</div>
<!-- // end .section -->


<div class="light-bg py-5" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <!--<div class=" d-block d-sm-inline-block">-->
                <!--<p class="mb-0">-->
                <span class=""><h3>服务器搭建联系QQ：44034509,<br>其他业务需求请联系QQ:1633079383</h3></span>

                </p>
            </div>
            <br>
            <div class="d-block d-sm-inline-block">
                <p class="mb-0">
                    <!--<span class="ti-headphone-alt mr-2"><a href="tel:00000000000">000-0000-0000</a>-->
                </p>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="social-icons">
                <!--<a href="#"><span class="fa fa-qq"></span></a>-->
                <!--<a href="#"><span class="fa fa-wechat"></span></a>-->
                <!--<a href="#"><span class="fa fa-comments-o"></span></a>-->
            </div>
        </div>
    </div>

</div>

</div>
<!-- // end .section -->
<!--<footer class="my-5 text-center">-->
<!-- 版权信息! -->
<!--    <p class="mb-2"><small>Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href="" target="_blank" title="机器人综合引流正版查询">机器人网络团队</a> </p>-->

<!--    <small>-->
<!--        <a href="" class="m-2">官方Q群</a>-->
<!--        <a href="" class="m-2">机器人综合引流</a>-->
<!--        <a href="" class="m-2">官方Q群</a>-->
<!--    </small>-->
<!--</footer>-->

<!-- jQuery and Bootstrap -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<!-- Plugins JS -->
<script src="js/owl.carousel.min.js"></script>
<!-- Custom JS -->
<script src="js/script.js"></script>

<div th:insert="common/Top::Bellow"></div>


</body>

</html>