<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlc.springboot.mapper.SecurityMapper">
    <resultMap id="BaseResultMap" type="com.zlc.springboot.model.Security">
        <id column="securityid" jdbcType="INTEGER" property="securityid"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="userSecurity" jdbcType="INTEGER" property="usersecurity"/>
        <result column="userSecurityTime" jdbcType="TIMESTAMP" property="usersecuritytime"/>
    </resultMap>
    <sql id="Base_Column_List">
    securityid, userid, userSecurity, userSecurityTime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_security
        where securityid = #{securityid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_security
    where securityid = #{securityid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zlc.springboot.model.Security">
    insert into tb_security (securityid, userid, userSecurity, 
      userSecurityTime)
    values (#{securityid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{usersecurity,jdbcType=INTEGER}, 
      #{usersecuritytime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.zlc.springboot.model.Security">
        insert into tb_security
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="securityid != null">
                securityid,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="usersecurity != null">
                userSecurity,
            </if>
            <if test="usersecuritytime != null">
                userSecurityTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="securityid != null">
                #{securityid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="usersecurity != null">
                #{usersecurity,jdbcType=INTEGER},
            </if>
            <if test="usersecuritytime != null">
                #{usersecuritytime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zlc.springboot.model.Security">
        update tb_security
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="usersecurity != null">
                userSecurity = #{usersecurity,jdbcType=INTEGER},
            </if>
            <if test="usersecuritytime != null">
                userSecurityTime = #{usersecuritytime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where securityid = #{securityid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zlc.springboot.model.Security">
    update tb_security
    set userid = #{userid,jdbcType=INTEGER},
      userSecurity = #{usersecurity,jdbcType=INTEGER},
      userSecurityTime = #{usersecuritytime,jdbcType=TIMESTAMP}
    where securityid = #{securityid,jdbcType=INTEGER}
  </update>
</mapper>